<fade-in class="opacity-0" _="on load transition my opacity to 1 over 0.3 seconds">

    {% for post in posts %}
        {% include "a_posts/post.html" %}
    {% endfor %}

    <!-- 
        Este <div> é usado para implementar scroll infinito com HTMX.
        Quando ele aparecer na tela (evento "revealed"), será feita uma requisição GET
        para carregar a próxima página da lista de posts.

        htmx-get: faz a requisição para a URL da próxima página.
        htmx-trigger: ativa a requisição quando o elemento for revelado na rolagem.
        htmx-target: define que a resposta substituirá este próprio <div>.
        htmx-swap: substitui completamente o <div> atual pela resposta (outerHTML).
    -->

    {% if posts.has_next %}
        <div 
            hx-get="{% if tag %}{% url 'category' tag.slug %}{% else %}{% url 'home' %}{% endif %}?page={{ posts.next_page_number }}"
            hx-trigger="revealed"
            hx-target="this"
            hx-swap="outerHTML">
        </div>
    {% endif %}


</fade-in>